#grid {
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.row {
    display: flex;
    align-items: center;
}



.cell {
    border: 1px solid #8FE3CF;
    height: 15vh;
    width: 15vh;
    background-size: cover;
    /* font-size: 0; */
    color: white;
    background-repeat: no-repeat;
}

#current-turn-time {
    height: 20px;
    width: 100px;
    font-size: 20;
}

body {
    background-color: #16213E;
    margin: 0;
    overflow: hidden;
}

nav {
    display: flex;
    height: 10vh;
    background-color: #256D85;
    justify-content: space-between;
}
.stat-container {
    display: flex;
    justify-content: space-between;
    color: white;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #2B4865; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #8FE3CF;
    display: block;
    transition: 0.3s;
  }
   /* The navigation menu links */
   .sidenav span {
    margin-left: 20px;
    color: #8FE3CF;
    
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
   

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 20px;
    margin-top:  10px;
    
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(50x);
    -ms-transform: translateX(50px);
    transform: translateX(66px);
  }


  .profile-image {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin-left: 25px;
    margin-top: 20px;
    background-size: cover;

  }

  .file-uploader {
    margin-left: 60px;
    margin-top: 10px;
  }

  input[type = 'file'] {
    color: transparent;
  }

  #player-one-profile {
    background-image: url(src/1.png);
  }
  #player-two-profile {
    background-image: url(src/2.png);
  }


  .reset {
    position: absolute;
    top: 90%;
    left: 50%;
  
    margin: auto;
    background-color: red;
    transform: translate(-90%,-50%);
  }




  .overlay {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0;
    z-index: -10;
  }

  .winning-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: large;
    z-index: -10;
  }


  .cell:hover {
    background-color: rgb(1, 9, 35);
  }

  .slider-container {
    margin-left: 20px
  }