#grid {
    
    border: 4px solid green;
    width: 300px;
}


.row {
    display: flex;
    border: 3px solid blue;
    align-items: center;
}



.cell {
    border: 2px solid red;
    height: 100px;
    width: 100px;
    /* background-image: url(""); */
}


